doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    block js
      script(src="components/three.js/three.min.js")
      script(src="components/jquery/dist/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.9.3/vue-resource.js")
      script(src="components/requirejs/require.js", data-main="js/main")
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content
